---
import PageLayout from '../../layouts/PageLayout.astro';
import JoinOurTeamSection from './_sections/join-our-team.astro';
import OpenPositions from './_sections/open-positions.astro';
import {
  JOIN_TEAM_CONTENT,
  BENEFITS,
  MORE_OPEN_ROLES_LABEL,
  MORE_OPEN_ROLES_URL,
  OPEN_POSITIONS,
} from './_constants';
---

<PageLayout title="Join Our Team - The Creekside School">
  <div class="animate-fade-in font-sans">
    <JoinOurTeamSection
      title={JOIN_TEAM_CONTENT.title}
      description={JOIN_TEAM_CONTENT.description}
      image={{ asset: { url: JOIN_TEAM_CONTENT.image }, alt: JOIN_TEAM_CONTENT.imageAlt }}
      benefits={BENEFITS}
    />
    <OpenPositions
      positions={OPEN_POSITIONS}
      moreRolesHref={MORE_OPEN_ROLES_URL}
      moreRolesLabel={MORE_OPEN_ROLES_LABEL}
    />
  </div>
</PageLayout>
