---
import ImageTextSection from '../../../components/sections/ImageTextSection.astro';
import { ASSETS_BASE_URL } from '../../../constants';

interface Props {
  headline: string;
  subheading: string;
  body: string;
  imageUrl?: string;
}

const { headline = '', subheading = '', body = '', imageUrl } = Astro.props;
const imgSrc =
  typeof imageUrl === 'string' && imageUrl
    ? imageUrl.startsWith('http')
      ? imageUrl
      : `${ASSETS_BASE_URL}/${imageUrl.replace(/^\//, '')}`
    : `${ASSETS_BASE_URL}/images/who-we-are--lifelong-learning.jpg`;
---

<ImageTextSection
  sectionId="lifelong-learning"
  title={headline}
  subheading={subheading}
  imageUrl={imgSrc}
  imageAlt="Lifelong learning at Creekside"
  imageLeft={true}
  backgroundColor="white"
>
  <p class="text-lg leading-relaxed">
    {body}
  </p>
</ImageTextSection>
